<%- include("partials/header.ejs") %>
    <div class="container">
        <h1>Let's find a chill activity to do! </h1>
        <img id="homeImg" src="./images/chill_table.jpg" alt="Table filled with books and a nice drink" />
    </div>
<%- include("partials/footer.ejs") %>